<% include partials/header %>
<h1 class="padding">About Us</h1>
<p class="padding"><%= aboutContent %></p>
<p class="padding">WE are the only company working with this technology.</p>
<% include partials/footer %>
